<launch>
  <arg name="ns" default="/camera"/>

  <node pkg="nodelet" type="nodelet" name="depth_manager" args="manager" output="screen" ns="$(arg ns)"/>

  <node pkg="nodelet" type="nodelet" name="depth_to_cloud"
        args="load depth_image_proc/point_cloud_xyz depth_manager"
        ns="$(arg ns)">
    <remap from="image_rect"    to="depth/image_rect_raw"/>
    <remap from="camera_info"   to="depth/camera_info"/>
    <remap from="points"        to="depth/points"/>
    <param name="queue_size" value="5"/>
  </node>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depth_as_scan" ns="$(arg ns)">
    <remap from="image"        to="depth/image_rect_raw"/>
    <remap from="camera_info"  to="depth/camera_info"/>
    <remap from="scan"         to="depth/scan"/>
  </node>
</launch>
