<launch>
  <!-- Orbbec Gemini 330 series via v4l2 backend -->
  <arg name="namespace" default="camera"/>
  <arg name="enable_depth" default="true"/>
  <arg name="enable_color" default="true"/>
  <arg name="color_width"  default="640"/>
  <arg name="color_height" default="480"/>
  <arg name="color_fps"    default="30"/>
  <arg name="depth_width"  default="640"/>
  <arg name="depth_height" default="480"/>
  <arg name="depth_fps"    default="30"/>
  <!-- Choose either device_num or serial_number (leave the other as default) -->
  <arg name="device_num"    default="0"/>
  <arg name="serial_number" default=""/>

  <group ns="$(arg namespace)">
    <include file="$(find orbbec_camera)/launch/gemini_330_series.launch">
      <arg name="enable_depth" value="$(arg enable_depth)"/>
      <arg name="enable_color" value="$(arg enable_color)"/>
      <arg name="uvc_backend"  value="v4l2"/>
      <arg name="device_num"   value="$(arg device_num)"/>
      <arg name="serial_number" value="$(arg serial_number)"/>
      <arg name="color_width"  value="$(arg color_width)"/>
      <arg name="color_height" value="$(arg color_height)"/>
      <arg name="color_fps"    value="$(arg color_fps)"/>
      <arg name="depth_width"  value="$(arg depth_width)"/>
      <arg name="depth_height" value="$(arg depth_height)"/>
      <arg name="depth_fps"    value="$(arg depth_fps)"/>
    </include>
  </group>
</launch>

