#!/usr/bin/env python3
PACKAGE = "limo_control"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("v_max",         double_t, 0, "Max linear speed", 0.40, 0.05, 0.80)
gen.add("w_max",         double_t, 0, "Max angular speed", 1.20, 0.20, 2.50)
gen.add("median_window", int_t,    0, "Median filter window", 3, 1, 9)
gen.add("ttc_stop",      double_t, 0, "TTC hard stop (s)", 0.60, 0.30, 2.00)
gen.add("ttc_slow",      double_t, 0, "TTC slow down (s)", 1.20, 0.50, 3.00)

exit(gen.generate(PACKAGE, "limo_control", "Avoidance"))

