<launch>
  <arg name="config_dir" default="$(find limo_control)/config"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="depth_cloud_topic" default="/camera/depth/points"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="depth_frame" default="camera_depth_optical_frame"/>

  <include file="$(find limo_base)/launch/limo_base.launch"/>
  <include file="$(find ydlidar_ros_driver)/launch/Tmini.launch"/>

  <include file="$(find limo_control)/launch/sensors/orbbec_dabai.launch"/>
  <include file="$(find limo_control)/launch/sensors/depth_to_cloud.launch"/>

  <rosparam file="$(arg config_dir)/lidar_avoidance.yaml" command="load" ns="depth_avoidance/avoid_params"/>
  <rosparam file="$(arg config_dir)/dynamic_tracker.yaml" command="load" ns="depth_avoidance/tracker_params"/>
  <rosparam file="$(arg config_dir)/depth_avoidance.yaml" command="load" ns="depth_avoidance/depth"/>

  <node pkg="limo_control" type="depth_avoidance_node.py" name="depth_avoidance" output="screen">
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="depth_cloud_topic" value="$(arg depth_cloud_topic)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="depth_frame" value="$(arg depth_frame)"/>
  </node>

  <!-- Optional sample configuration for move_base voxel layer is available under config/samples/. -->
</launch>
